## Database and Data Access with Pandas

In [1]:
import numpy as np
import pandas as pd
import sqlite3

We'll delete any old database we might have in this directory (e.g., left from the last time we han this notebood)

In [2]:
import os
try:
    os.remove("sdss.db")
except OSError:
    pass

Open the connection to our database:

In [3]:
con = sqlite3.connect("sdss.db")

Create the tables:

In [4]:
con.execute("""
CREATE TABLE sources (
	run	INTEGER,
	rerun	INTEGER,
	camcol	INTEGER,
	field	INTEGER,
	obj	INTEGER,
	type	INTEGER,

	ra	REAL,
	dec	REAL,
	psfMag_r	REAL,
	psfMag_g	REAL,
	psfMagErr_r	REAL,
	psfMagErr_g	REAL
);
""")

In [5]:
con.execute("""
CREATE TABLE runs (
	run	INTEGER,
	ra	REAL,
	dec	REAL,
	mjdstart	REAL,
	mjdend	REAL,
	node	REAL,
	inclination	REAL,
	mu0	REAL,
	nu0	REAL
);
""")

Load the runs.txt data set. Note how Pandas' read_csv has a multitude of options that allow us to load the file without having to edit it (or write Python code to parse it first)

In [6]:
runs = pd.read_csv('runs.txt', 
            sep=" ", header=None, skiprows=1, 
            names=['run', 'ra', 'dec', 'mjdstart', 'mjdend', 'node', 'inclination', 'mu0', 'nu0'],
            index_col = 'run')

In [7]:
sources = pd.read_csv('sample.csv', index_col=['run', 'rerun', 'camcol', 'field', 'obj'])

Now we can save this data set into a database:

In [8]:
#con.execute("drop table if exists runs")
runs.to_sql('runs', con, if_exists='append')

In [9]:
#con.execute("drop table if exists stars")
sources.to_sql('sources', con, if_exists='append')

In [10]:
con.close()
del runs
del sources

## Reading data from a database using Pandas

In [11]:
con = sqlite3.connect("sdss.db")

In [12]:
result = pd.read_sql("""
    SELECT
        sources.ra, sources.dec, sources.run, mjdstart
    FROM
        sources
    JOIN runs ON sources.run = runs.run
""", con)

In [13]:
result

               ra        dec   run      mjdstart
0        8.129444  26.626617  7757  54764.323971
1        8.127839  26.627246  7757  54764.323971
2        8.127323  26.625120  7757  54764.323971
3       24.516117  -1.165794  4288  52971.187293
4       24.517941  -1.179207  4288  52971.187293
5       24.518946  -1.159151  4288  52971.187293
6       36.471592  -1.060939  4136  52909.399761
7       36.471758  -1.137845  4136  52909.399761
8       36.471758  -1.137845  4136  52909.399761
9       24.683920  -1.236317  4288  52971.187293
10      24.684060  -1.217849  4288  52971.187293
11      24.684022  -1.082928  4288  52971.187293
12     351.787950   6.145735  5598  53625.273219
13     351.787950   6.145735  5598  53625.273219
14     351.787349   6.144816  5598  53625.273219
15      12.076002  -3.326774  2699  52224.230625
16      12.077003  -3.329132  2699  52224.230625
17      12.083273  -3.525398  2699  52224.230625
18     340.524769  -0.843091    94  51075.233211
19     340.525794  -0.965210    94  51075.233211
20     340.532579  -1.023650    94  51075.233211
21      30.089917  -1.251895  4288  52971.187293
22      30.089996  -1.143143  4288  52971.187293
23      30.089916  -1.192365  4288  52971.187293
24       5.591322  26.612064  7937  54860.113868
25       5.589847  26.615735  7937  54860.113868
26       5.590071  26.570338  7937  54860.113868
27     216.223188  11.947229  3996  52812.154840
28     216.238357  12.053422  3996  52812.154840
29     216.219379  11.917140  3996  52812.154840
...           ...        ...   ...           ...
50157  188.664616  25.344683  5116  53388.444881
50158  188.666551  25.257577  5116  53388.444881
50159  188.666544  25.257566  5116  53388.444881
50160  189.554841  25.338398  5116  53388.444881
50161  189.554231  25.317358  5116  53388.444881
50162  189.548370  25.142143  5116  53388.444881
50163  193.019231  24.990967  5116  53388.444881
50164  193.019339  24.990138  5116  53388.444881
50165  193.026212  25.091162  5116  53388.444881
50166  229.559679 -10.591389  6794  54210.295485
50167  229.561218 -10.586996  6794  54210.295485
50168  229.553866 -10.599635  6794  54210.295485
50169  200.082898  24.664526  5116  53388.444881
50170  200.077765  24.616888  5116  53388.444881
50171  200.077916  24.615347  5116  53388.444881
50172  200.999009  24.547443  5116  53388.444881
50173  200.978535  24.382477  5116  53388.444881
50174  200.978532  24.382476  5116  53388.444881
50175  204.342653  24.132569  5116  53388.444881
50176  204.347654  24.161219  5116  53388.444881
50177  204.347402  24.136355  5116  53388.444881
50178  234.139956 -13.387406  6794  54210.295485
50179  234.140664 -13.386479  6794  54210.295485
50180  234.156664 -13.366396  6794  54210.295485
50181  235.587317 -14.274492  6794  54210.295485
50182  235.639526 -14.195220  6794  54210.295485
50183  235.556912 -14.325141  6794  54210.295485
50184  190.605268  26.104546  5116  53388.444881
50185  190.602019  26.055888  5116  53388.444881
50186  190.606245  26.132121  5116  53388.444881

[50187 rows x 4 columns]

## SQL-type operations with Pandas

With Pandas, you can do many of the manipulations you'd use SQL for, *assuming your entire dataset fits into memory*.

For example:

In [14]:
result.groupby("run").size().order()

/Users/mjuric/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

run
3835      3
1892      3
2267      3
2297      3
3959      3
1133      3
1484      3
3829      3
3697      3
3649      3
5385      3
6160      3
4191      3
6753      3
1891      3
3104      3
3354      3
4389      6
2142      6
5402      6
2347      6
2029      6
1927      6
1119      6
8049      6
4252      6
3636      6
6075      6
1888      6
1855      6
       ...
4076    183
1755    186
3360    186
259     189
5814    195
7717    201
5398    204
5183    204
5410    216
4836    219
1458    222
4933    222
4576    225
4203    228
4822    231
4135    234
4134    246
756     249
3384    252
3900    252
6182    258
4207    261
6177    273
5194    285
4849    291
1345    315
6162    321
4874    342
4832    345
4828    381
dtype: int64

In [15]:
# The equivalent of:
#   SELECT run, AVG(ra), AVG(dec), AVG(mjdstart) FROM sources WHERE dec > 10 GROUP BY run

result[result.dec > 10].groupby("run").aggregate(np.mean)

              ra        dec      mjdstart
run
1000  356.175132  58.079059  51458.204579
1011  126.951944  14.852107  51459.360744
1022   19.177197  14.450658  51463.300571
1035   22.595771  14.051204  51464.309251
1043   19.876180  14.407586  51465.293308
1119  135.083360  55.119289  51582.244170
1120  192.853627  64.462837  51582.267938
1133  117.725359  38.619556  51584.168596
1302  147.895732  53.238794  51633.218119
1331  125.959016  44.673981  51638.168269
1332  151.756258  60.529911  51638.295191
1336  256.004453  61.276081  51638.383990
1339  257.121207  59.565743  51638.434758
1345  211.768190  40.403312  51639.116432
1350  144.962857  53.298283  51640.119983
1356  261.589147  61.072764  51640.372207
1359  261.079773  59.788338  51640.438924
1363  117.783218  42.427639  51641.135594
1365  167.832348  66.120127  51641.239515
1402  119.017513  43.800824  51659.148041
1411  128.379467  52.743747  51661.133778
1412  192.161978  60.502727  51661.178501
1450  129.360877  53.436236  51667.218162
1453  249.845165  44.927992  51667.375614
1484  196.190173  54.807975  51675.211339
1739  321.819329  13.387417  51814.209652
1749  326.965585  11.576802  51817.121561
1754  317.066052  10.730154  51819.172985
1889  130.852028  45.021017  51874.349171
1895  132.420720  47.705818  51875.280575
...          ...        ...           ...
7932   15.390963  22.109854  54857.130157
7937  128.887873  26.916688  54860.113868
7941   24.904798  31.085765  54861.182570
7942  103.973048  13.919986  54861.245900
8055   18.005293  24.173818  55100.361966
8056   20.606938  26.489681  55100.420080
8060  334.613750  14.888996  55101.289160
8096  272.052339  18.557417  55119.275497
8097   32.732108  27.176902  55119.402579
8101  331.355749  16.306001  55120.222504
8102  337.353240  20.053050  55120.269463
8103  246.853114  26.960385  55120.336226
8105   23.698198  28.783217  55120.417166
8108  320.799277  19.850841  55121.074448
8109  333.860251  23.713998  55121.183852
8110  340.871224  25.339524  55121.255687
8111  135.248476  32.021592  55121.352856
8112   23.721028  30.986848  55121.439634
8115  335.462107  28.252663  55122.068780
8116  232.385812  27.666793  55122.154020
8117  350.576307  29.478092  55122.320472
8142  331.535009  25.752439  55145.045597
8149  292.019147  29.041709  55151.047766
8150   90.500840  32.809240  55151.164221
8151  230.356878  30.173386  55151.220908
8155  331.458923  30.021590  55152.042912
8156  339.697317  31.925942  55152.114644
8157  234.012398  34.241203  55152.218248
8158   82.608758  34.775533  55152.283449
8162  343.154486  28.129794  55153.096519

[443 rows x 3 columns]

### Finding out more:

A nice SQL-vs-Pandas tutorial (video+notebooks) is at http://www.gregreda.com/2014/12/22/translating-sql-to-pandas/

See http://pandas.pydata.org/pandas-docs/stable/groupby.html for more details.